/* ------------------------------------------------
                    Fonts
--------------------------------------------------- */

@font-face {
    font-family: Titreprincipal;
    src: url(fonts/Migra-Extrabold\ copie.ttf);
}

@font-face {
    font-family: Titresecondaires;
    src: url(fonts/EloquentJFCaptionPro\ copie.ttf);
}

@font-face {
    font-family: P;
    src: url(fonts/PPEiko-Medium\ copie.otf);
}



/* ------------------------------------------------
                    RESET
--------------------------------------------------- */


/* Box sizing */

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margin */

body,
h1,
h2,
h3,
h4,
figure,
picture {
    margin: 0;
    padding: 0;
}

html {
    padding: 0;
    margin: 0;
    width: 100%;
}

/* Set up the body */

body {
    line-height: 1.5;
    min-height: 100vh;
}

/* Make images easier to work with (si dieu le veut) */

img,
picture {
    max-width: 100%;
    display: block;
}

/* Make forms elements easier to work with */

input,
button,
textarea,
select {
    font: inherit;
}

ul {
    list-style-type: none;
  }

a {
    text-decoration: none;
}

/* Remove animations for those who turned them off (pour ceux qui décident d'enlever les animations dans lur browser : question d'accessiblilité) */

@media (prefers-reduced-motions: reduce){
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

p {
    font-family: P;
}


/* ------------------------------------------------
                    INDEX
--------------------------------------------------- */

.index-header p {
    margin-left: 90%;
}

@media (max-width: 820px) {
    .index-header p {
        margin-left: 80%;
    }
}

.index-header a {
    color: black;
}

.page-container {
    position: relative;
    min-height: 100vh;
  }

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 15%;
}

.test {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search h1 {
    font-size: 4rem;
    background: -webkit-linear-gradient(#4C6F73, #345573);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Titreprincipal;
}

.search button {
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #345573;
    border-radius: 5%;
    color: #345573;
    font-family: Titreprincipal;
}

.resultats-container 
{
    border: 1px dotted #ccc;
    padding: 3px;
    width: 230px;
    z-index: 3;
}

.resultats-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
.resultats-container ul li {
    padding: 5px 0;
    color: black;
  }

.resultats-container ul li:hover {
    background: #9ab2c7;
  }

.résultats {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    padding-bottom: 3%;
}

#no-result a {
    color:#9ab2c7;
    font-size: larger;
    font-weight: bolder;
}

.tableau-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 3%;
    border: 1px solid #ccc;
    width: 400px;
    padding: 2%;
}

.tableau-container h3 {
    margin-left: 3%;
    font-size: larger;
    font-family: Titresecondaires;
}

.tableau-container a {
    color: black;
}

.tableau-container a:hover {
    color: rgb(217, 175, 228);
}

footer {
    background-color: rgb(226, 224, 224);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4rem; 
}

footer img {
    margin-left: 5%;
    margin-top: 1%;
}



/* ------------------------------------------------
                    PAINTINGS
--------------------------------------------------- */

.paintings {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 5%;
}

.search-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3%;
}

.search-header .test {
    justify-content: flex-start;
    position: relative;
}

.search-header .resultats-container  {
    position: absolute;
    top: 30px;
}

@media (max-width: 820px) {
    .search-header .resultats-container  {
        position: absolute;
        top: 30px;
        background-color: #ffffff;
        z-index: 6;
    }
}

.search-header button {
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #345573;
    border-radius: 5%;
    color: #345573;
    font-family: Titreprincipal;
}




/* ------------------------------------------------
                    ELEMENT
--------------------------------------------------- */

.painting-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 3%;
}


@media (max-width: 820px) {

    .painting-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 3%;
    }

    .painting-description {
        display: flex;
        flex-direction: column;
        padding: 5%;
        width: 70vw;
    }
}

@media (min-width: 821px){
    .painting-description {
        display: flex;
        flex-direction: column;
        padding: 5%;
        width: 45vw;
    }   
}


.painting-description h2 {
    font-size: 3rem;
    font-family: Titresecondaires;
}

.element-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3%;
}

.element-header a {
    color: black;
    font-family: Titreprincipal;
}

